
.contents-2 {
    position: relative;
    overflow-x: hidden;

    .heading {
        position: relative;
        
        &::before {
            content: '';
            z-index: -1;
            position: absolute;
            transform: scaleX(1);
            height: 1.8rem;
            width: 80%;
            bottom: 0;
            transition: all .2s;
            transition: all .6s;

            @include respond(sm-phone) {
                height: 1.1rem;
            }
        }
    }

    .heading.exp {
        &::before {
            background-color: $color-experience;
            left: 0;
        }
        h1 {
            transform: translateX(55%);
            // display: inline-block;

            @include respond(phone) {
                // transform: translateX(calc(100% - 60vw));
                transform: translateX(35%);
            }
        }
    }
    .heading.uiux {
        &::before {
            background-color: $color-uiux;
            right: 0;
        }
        h1 {
            transform: translateX(25%);

            @include respond(phone) {
                transform: translateX(25%);
            }
        }
    }
    .heading.resume {
        &::before {
            background-color: $color-resume;
            left: 0;
        }
        h1 {
            transform: translateX(55%);

            @include respond(phone) {
                transform: translateX(45%);
            }
        }
    }

    h1 {
        font-size: 4rem;

        @include respond(phone) {
            font-size: 3.5rem;
        }
        @include respond(sm-phone) {
            // font-size: 2.3rem;
            font-size: 2.3rem;
        }
    }


    .heading {
        margin: 10rem 0 7rem;
        width: 100%;

        @include respond(sm-phone) {
            margin: 5rem 0 3rem;
        }
    }
}