

// MEDIA QUERY MANAGER
/*
    Phone:              0-600px
    Tablet Portrait:    600-900px
    Tablet Landscape:   900-1200px
    Desktop:            1200-1800px
    Big Desktop:        1800px +
*/
@mixin respond($breakpoint) {

    // Small Phone
    @if $breakpoint == sm-phone {
        @media (max-width: 26.5625em) { @content };
    }
    // Phone Breakpoint
    @if $breakpoint == phone {
        @media (max-width: 37.5em) { @content }; // 600px / 16
    }
    // Tab Portrait Breakpoint
    @if $breakpoint == tab-portrait {
        @media (max-width: 56.25em) { @content };
    }
    // Tab Landscape Breakpoint
    @if $breakpoint == tab-landscape {
        @media (max-width: 75em) { @content };
    }
    // Mid Desktop Breakpoint
    @if $breakpoint == mid-desktop {
        @media (max-width: 90em) { @content };
    }
    //Desktop
    @if $breakpoint == desktop {
        @media (max-width: 112.5em) { @content };
    }
    // Big Desktop
    @if $breakpoint == big-desktop {
        @media (min-width: 160em) { @content };
    }

    //heights
    @if $breakpoint == tab-landscape-h {
        @media (max-height: 64em) and (min-height: 60em) { @content };
    }

}

@mixin anti-flicker() {
    -webkit-transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
}