nav {
    margin-bottom: 2rem;
    .nav {
        padding-bottom: 3rem;
        a {
            display: inline-block;
            font-size: 3.5rem;
            text-align: left;
            padding-left: 1rem;
            padding-bottom: .8rem;
            text-transform: uppercase;
            position: relative;
            color: transparent;
            width: 100%;
            text-decoration: none;
            cursor: default;

            @include respond(desktop) {
                font-size: 3rem;
            }
            @include respond(tab-landscape) {
                font-size: 2.3rem;
            }

            h1 {
                color: black;
                display: inline-block;
                transform: translateY(0);
                transition: all 1s;
                cursor: pointer;
            }
            
            span {
                z-index: -1;
                position: absolute;
                height: 2rem;
                bottom: 1rem;
                left: 0;
                transition: all .8s;
                
                @include respond(desktop) {
                    height: 2rem;
                }
                @include respond(mid-desktop) {
                    height: 1.85rem;
                }
                @include respond(tab-landscape) {
                    height: 1.5rem;
                }
            }

            &.nav-experience {
                span {
                    background-color: $color-experience;
                    min-width: 50%;

                    @include respond(desktop) {
                        min-width: 40%;
                    }
                    @include respond(mid-desktop) {
                        min-width: 45%;
                    }
                    @include respond(tab-landscape) {
                        min-width: 50%;
                    }
                }
            }
            &.nav-uiux {
                span {
                    background-color: $color-uiux;
                    min-width: 55%;

                    @include respond(desktop) {
                        min-width: 50%;
                    }
                    @include respond(mid-desktop) {
                        min-width: 55%;
                    }
                    @include respond(tab-landscape) {
                        min-width: 60%;
                    }
                }
            }
            &.nav-resume {
                span {
                    background-color: $color-resume;
                    min-width: 35%;

                    @include respond(desktop) {
                        min-width: 30%;
                    }
                    @include respond(mid-desktop) {
                        min-width: 35%;
                    }
                    @include respond(tab-landscape) {
                        min-width: 40%;
                    }
                }
            }

            &:hover {
                span {
                    height: 90%;
                }
            }

            &.active {
                color: $color-primary-font;

                &.nav-experience, 
                &.nav-uiux,
                &.nav-resume {
                    transition: all 1s;
                }

                h1 {
                    transform: translateX(calc(40vw - 100%));
                }

                span {
                    width: 98%;
                    height: 2rem;

                    @include respond(desktop) {
                        height: 2rem;
                    }
                    @include respond(mid-desktop) {
                        height: 1.85rem;
                    }
                    @include respond(tab-landscape) {
                        height: 1.5rem;
                    }
                }
            }
        }
    }
}