.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.3s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}

.text-holder {
  .animated-text {
    display: inline-block;

    &::before {
      content: '<';
    }
    span {
      &::before {
        content: '/';
        animation: blink .9s infinite ease-out;
      }
    }
  }
}
@keyframes blink {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.pageSlide-enter-active,
.pageSlide-enter-leave {
  transition: opacity 1.2s, transform .8s;
}

.pageSlide-enter,
.pageSlide-leave {
  opacity: 0;
  transform: translateX(130%);
}